<td class="desc">
  <span>{{hyp.customer.title}}</span> pode
  <span>{{hyp.problem.title}}</span>. Resolve com
  <span>{{hyp.solution.title}}</span>, mas pode
  <span>{{hyp.risk.title}}</span>.
</td>
<td>{{hyp.method}}</td>
<td>{{hyp.criterion}}</td>
