<td class="desc">
  <span>{{hypothesis.customer.title}}</span> pode
  <span>{{hypothesis.problem.title}}</span>. Resolve com
  <span>{{hypothesis.solution.title}}</span>, mas pode
  <span>{{hypothesis.risk.title}}</span>.
</td>
<td>{{hypothesis.method}}</td>
<td>{{hypothesis.criterion}}</td>
