<h2>
  <span class="glyphicon glyphicon-{{glyphicon}}"></span>
  {{plural}}

  <button class="btn btn-default btn-xs pull-right" type="button"
          aria-label="Add {{type}}" {{action 'openModal' type target=targetObject}}>
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
  </button>
</h2>

{{#each items key="staticKey" as |item|}}
  {{item-block item=item edit-action=(action 'openModal' item target=targetObject)}}
{{/each}}