<div class="actions btn-group btn-group-xs" role="group" aria-label="Actions">
  {{#if showDetails}}
    <button class="btn btn-primary btn-xs edit" {{action "edit"}} aria-label="Edit">
      <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
    </button>
    <button class="btn btn-danger btn-xs remove" {{action "remove"}} aria-label="Remove">
      <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
    </button>
  {{/if}}
  <button class="btn btn-default btn-xs desc" {{action "toggleDetails"}} aria-label="Show description">
    <span class="glyphicon glyphicon-option-horizontal" aria-hidden="true"></span>
  </button>
</div>

  <h3 {{action "toggleDetails"}} class="{{if showDetails 'with-details'}}">{{item.title}}</h3>

{{#if showDetails}}
  <p>{{item.description}}</p>
{{/if}}
