{{!
  @param string modal-id     modal's id property
  @param string title        modal's title
  @param bool   small        If the modal is of `modal-sm` class
  @param bool   large        If the modal is of `modal-lg` class
  @param bool   no-cancel    If true, will not display a cancel button
  @param string cancel       Text for the cancel button. Defaults to "Cancel"
  @param string cancel-type  Bootstrap type for the Cancel button. Defaults to "default" (btn-default)
  @param string ok           Text for the ok button. Defaults to "Ok"
  @param string ok-type      Bootstrap type for the Ok button. Defaults to "primary" (btn-primary)
}}

<div class="modal fade" id="{{modal-id}}">
  <div class="modal-dialog {{if small 'modal-sm'}}{{if large 'modal-lg'}}">
    <form class="modal-content" {{action 'ok' on='submit'}}>
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">{{title}}</h4>
      </div>

      <div class="modal-body">{{yield}}</div>

      <div class="modal-footer">
        <button type="button" data-dismiss="modal"
                class="btn btn-{{if cancel-type cancel-type 'default'}} {{if small 'btn-sm'}}{{if large 'btn-lg'}}">
          {{#unless no-cancel}} {{if cancel cancel "Cancel"}} {{/unless}}
        </button>
        <button type="button" {{action 'ok'}}
                class="btn btn-{{if ok-type ok-type 'primary'}} {{if small 'btn-sm'}}{{if large 'btn-lg'}}">
          {{if ok ok "Ok"}}
        </button>
      </div>
    </form>
  </div>
</div>
