<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">{{project.name}}</h3>

    <form class="form-inline">
      {{input type='text' class='form-control input-sm' name='project-name' value=project.name action='save' target='view'}}

      <div class="btn-group">
        <button class="btn btn-success btn-sm" title="Save" {{action 'save' target='view'}}><span class="glyphicon glyphicon-ok"></span></button>
        <button class="btn btn-danger btn-sm" title="Cancel" {{action 'edit' target='view'}}><span class="glyphicon glyphicon-remove"></span></button>
      </div>
    </form>

    <div class="btn-group">
      <button class="btn btn-link" title="Edit project name" {{action 'edit' target='view'}}><span class="glyphicon glyphicon-edit"></span></button>
      <button class="btn btn-link" title="Remove project" {{action 'remove' target='view'}}><span class="glyphicon glyphicon-remove"></span></button>
    </div>
  </div>

  <div class="list-group">
    {{#each project.boards as |board|}}
      <board-line board={{board}} class="list-group-item" />
    {{/each}}

    <span class="list-group-item">{{partial "project/_new_board"}}</span>
  </div>

  <div class="panel-footer">
    <div class="row">
      <hyp-counter title='Validated'   type='success' value={{project.hyp_valid}} />
      <hyp-counter title='Invalidated' type='warning' value={{project.hyp_invalid}} />
      <hyp-counter title='Total'       type='info'    value={{project.hyp_total}} />
    </div>
  </div>
</div>