<div class="container-fluid">
	<div class="row">
		<div class="col-lg-7 col-md-12" id="items">

      <div class="row">
        {{view "item/list" title="Customer" new=model.new.customer items=model.customers}}
        {{view "item/list" title="Problem"  new=model.new.problem  items=model.problems}}
        {{view "item/list" title="Solution" new=model.new.solution items=model.solutions}}
        {{view "item/list" title="Risk"     new=model.new.risk     items=model.risks}}
      </div>

    </div>

		<div class="col-lg-5 col-md-12" id="hypothesis">

        {{partial 'board/hypotheses'}}

    </div>
	</div>
</div>
