<div role="tabpanel">
  <nav>
    <ul class="nav nav-tabs">
      <li role="presentation" class="active">
        <a href="#items" role="tab" data-toggle="tab">Board elements</a>
      </li>
      <li role="presentation">
        <a href="#hypotheses" role="tab" data-toggle="tab">Hypotheses</a>
      </li>
    </ul>
  </nav>

  <div class="tab-content">
    <div id="items" role="tabpanel" class="tab-pane active">
      <item-list board={{model}} type="customer" items={{model.customers}} />
      <item-list board={{model}} type="problem"  items={{model.problems}} />
      <item-list board={{model}} type="solution" items={{model.solutions}} />
      <item-list board={{model}} type="risk"     items={{model.risks}} />
    </div>

    <hypotheses-list id="hypotheses" role="tabpanel" class="tab-pane" board={{model}} />
  </div>
</div>

<modal-dialog modal-id="item-modal" title="New {{modalItem.type}}" small=true
    ok-type="success" ok="Save" confirm-action='saveItem'>
  {{input type="hidden" name="type" value=modalItem.type}}

  <div class="form-group">
    <label class="control-label">Title
      {{input type="text" class="form-control" name="title" value=modalItem.title}}
    </label>
  </div>

  <div class="form-group">
    <label class="control-label">Description
      {{textarea class="form-control" name="description" value=modalItem.description}}
    </label>
</div>
</modal-dialog>
