<h2>
  <button {{action 'addItem' target=view}}>{{view.plural}}</button>
  <button class="btn btn-default btn-xs pull-right" type="button"
          aria-label="Add {{view.title}}" data-toggle="modal" data-target="#add-{{view.title}}">
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
  </button>
</h2>

{{#each item in view.items}}
  {{item-block item=item}}
{{/each}}

{{partial 'board/item/new'}}
