<div class="container-fluid">
	<div class="row">
		<div class="col-lg-7 col-md-12" id="items">

      <div class="row">
        {{item-list title="Customers" items=model.customers}}
        {{item-list title="Problems"  items=model.problems}}
        {{item-list title="Solutions" items=model.solutions}}
        {{item-list title="Risks"     items=model.risks}}
      </div>

    </div>

		<div class="col-lg-5 col-md-12" id="hypothesis">

      <table class="table table-bordered table-striped table-hover" style="width: 100%">
        <thead>
          <tr>
            <th>Hypothesis</th>
            <th>Method</th>
            <th>Criterion</th>
          </tr>
        </thead>
        <tbody>
          {{#each hyp in model.hypotheses}}
            {{hypothesis-block hyp=hyp}}
          {{/each}}
        </tbody>
      </table>

    </div>
	</div>
</div>
