<h2>
    All projects
    <small><a href="#new-project" data-toggle="modal">New project</a></small>
</h2>

<div class="row">
  {{#each project in model itemController='projectItem'}}
    {{#with project.model as project}}
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <div class="panel panel-primary project-panel" id="project-{{project.id}}">
          <div class="panel-heading">
            <h3 class="panel-title">{{project.name}}</h3>

	          <form class="form-inline">
              {{input type='text' class='form-control input-sm' name='project-name'
              value=project.name action='save'}}

              <div class="btn-group">
                <button class="btn btn-success btn-sm" title="Save" {{action 'save' project}}><span class="glyphicon glyphicon-ok"></span></button>
                <button class="btn btn-danger btn-sm" title="Cancel" {{action 'edit' project}}><span class="glyphicon glyphicon-remove"></span></button>
              </div>
            </form>

            <div class="btn-group">
              <button class="btn btn-link" title="Edit name" {{action 'edit' project}}><span class="glyphicon glyphicon-edit"></span></button>
              <button class="btn btn-link" title="Remove project" {{action 'remove' project}}><span class="glyphicon glyphicon-remove"></span></button>
            </div>
          </div>

          <ul class="list-group">
            {{#each board in project.boards}}
              <li class="list-group-item">
                {{board.name}}
                <div class="pull-right">
                  <span class="label label-info">10</span>
                  <span class="label label-success">4</span>
                  <span class="label label-warning">3</span>
                </div>
              </li>
            {{/each}}

            <li class="list-group-item">{{partial "project/_new_board"}}</li>
          </ul>

          <div class="panel-footer">
            <div class="row">
              {{hyp-counter title='Hypotheses'  type='info'    value=project.hyp_total}}
              {{hyp-counter title='Validated'   type='success' value=project.hyp_valid}}
              {{hyp-counter title='Invalidated' type='warning' value=project.hyp_invalid}}
            </div>
          </div>
        </div>
      </div>
    {{/with}}
  {{else}}
    No projects yet... Create one!
  {{/each}}
</div>

{{partial "project/_new"}}
