<h2>Project's list</h2>
<a {{action 'new'}}>New project</a>

<ul>
    {{#each project in model itemController='projectItem'}}
      {{#with project.model as project}}
        <li>
          {{project.name}}
          <ul>
              {{#each board in project.boards}}
                <li>{{board.name}}</li>
              {{else}}
                <li><i>No boards yet</i></li>
              {{/each}}
          </ul>
        </li>
      {{/with}}
    {{else}}
      <li>No projects yet... Create one!</li>
    {{/each}}
</ul>

{{outlet}}
